* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

input {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: tan;
  height: 40px;
  font-size: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.font-con button {
  margin: 5px;
  padding: 2px;
}

.print {
  color: black;
}
body {
  background-color: rosybrown;
}

h1 {
  text-align: center;
  margin: 20px;
}

form {
  border: 3px solid black;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.botoes input {
  width: 250px;
  height: 70px;
  margin: 5px;
  font-size: 18px;
}
.botoes,
.informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacoes {
  margin: 0 auto;
  text-align: center;
}

.informacoes input {
  margin-bottom: 10px;
}
.informacoes label {
  font-size: 22px;
}

.enviar input,
.voltar input {
  padding: 12px;
  border-radius: 20px;
  border: none;
}

.enviar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.voltar {
  margin: 20px;
  text-align: center;
}

.data {
  text-align: center;
}

.data input {
  font-size: 16px;
}
